<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel Admin - SR03</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <link rel="stylesheet" type="text/css" href="resources/stylesheets/styles.css" media="screen, projection" />
    <script src="https://cdn.metroui.org.ua/current/metro.js" defer></script>
</head>
<body>
    <div class="navbar" style="display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;">
        <ul class="nav-links" style="display: flex; list-style: none; padding: 0; margin: 0; gap: 15px; flex-wrap: wrap;">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/create}">Création d’un nouvel utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/listuser}">Liste des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/listinactiveuser}">Liste des comptes d’utilisateurs désactivés</a>
            </li>
        </ul>
    </div>
    Page admin
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>