<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Éditer un utilisateur - SR03</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/icons.css"/>
    <link rel="stylesheet" th:href="@{/stylesheets/styles.css}">
    <script src="https://cdn.metroui.org.ua/current/metro.js" defer></script>
</head>
<body>
    <nav data-role="appbar" data-expand-point="md" class="border border-size-1 bd-gray shadow-normal">
        <ul class="app-bar-menu">
            <li><a th:href="@{/listuser}">Accueil</a></li>
            <li><a th:href="@{/create}">Nouveau utilisateur</a></li>
            <li><a th:href="@{/listinactiveuser}">Utilisateurs désactivés</a></li>
        </ul>

        <div class="app-bar-item-static mx-auto">
            <p th:text="${session.user.firstname + ' ' + session.user.lastname}"></p>
        </div>

        <div class="app-bar-item-static ml-auto">
            <a th:href="@{/logout}">
                <button class="small ml-1 alert">
                    Déconnexion
                </button>
            </a>
        </div>
    </nav>

    <main class="container mt-6">
        <div class="row">
            <div class="text-center cell-md-6 offset-md-3">
                <h2>Éditer l'utilisateur</h2>
                <div class="border border-size-1 border-radius-10 bd-blue p-8">
                    <form th:action="@{/edituser/{id}(id=${editedUser.id})}" method="post">
                        <div class="form-group">
                            <label class="label-for-input">Prénom <span class="fg-red">*</span></label>
                            <input type="text" name="firstname" data-role="input" th:value="${editedUser.firstname}" required minlength="2" maxlength="50" pattern="[A-Za-zÀ-ÿ\-\s]+" title="Lettres, espaces et tirets uniquement">
                        </div>
                        <div class="form-group mt-4">
                            <label class="label-for-input">Nom <span class="fg-red">*</span></label>
                            <input type="text" name="lastname" data-role="input" th:value="${editedUser.lastname}" required minlength="2" maxlength="50" pattern="[A-Za-zÀ-ÿ\-\s]+" title="Lettres, espaces et tirets uniquement">
                        </div>
                        <div class="form-group mt-4">
                            <label class="label-for-input">Adresse e-mail <span class="fg-red">*</span></label>
                            <input type="email" name="mail" data-role="input" th:value="${editedUser.mail}" data-prepend="&lt;span class='mif-person'&gt;" required maxlength="100">
                        </div>
                        <div class="form-group mt-4">
                            <label class="label-for-input">Nouveau mot de passe <small class="text-muted">(laisser vide pour ne pas changer)</small></label>
                            <input type="password" name="password" data-role="input" placeholder="*********" minlength="8" data-prepend="<span class='mif-lock'></span>" data-reveal-button-icon="<span class='mif-eye mif-2x'></span>">
                        </div>
                        <div class="form-group mt-4">
                            <label class="label-for-input mb-2">Compte administrateur ?</label>
                            <input type="checkbox" name="admin" value="true" th:checked="${editedUser.admin}">
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="button info bg-blue fg-white text-bold w-100">
                                Enregistrer
                            </button>
                            <a th:href="@{/listuser}" class="mt-2 button bg-gray bg-charcoal-hover w-100">
                                    Annuler
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
