<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accès refusé - SR03</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/icons.css"/>
    <link rel="stylesheet" th:href="@{/stylesheets/styles.css}">
    <script src="https://cdn.metroui.org.ua/current/metro.js" defer></script>
</head>
<body>
    <main>
        <div class="container mt-10">
            <div class="row">
                <div class="cell-md-4 offset-md-4 text-center">
                    <h1 class="text-bold mt-4">403</h1>
                    <h4 class="text-muted">Accès non autorisé</h4>        
                    <p class="mt-4">
                        Vous n'avez pas les permissions nécessaires pour accéder à cette ressource.
                    </p>
                    <a href="/" class="button primary mt-4">
                        Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>